#wrapper {
  background-color: rgb(7, 16, 31);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#thebox {
  background-color: beige;
  width: 60vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
}

#title {
  background-color: rgb(70, 156, 206);
  color: white;
  text-align: center;
}

#title h2 {
  font-family: "Lobster", cursive;
}

.headers {
  font-family: Arial, Helvetica, sans-serif;
}

#mpara,
#upara,
#spara,
#apara {
  font-family: Arial, Helvetica, sans-serif;
}
